<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428763486515-e4ml09r82fo0crjpmhmflua0kclm10q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428763486515-e4ml09r82fo0crjpmhmflua0kclm10q0</string>
	<key>API_KEY</key>
	<string>AIzaSyAZRXacVfoJxUumXDT1epINmlzMDxLnlog</string>
	<key>GCM_SENDER_ID</key>
	<string>428763486515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.milaai.app</string>
	<key>PROJECT_ID</key>
	<string>mila-fcc9e</string>
	<key>STORAGE_BUCKET</key>
	<string>mila-fcc9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428763486515:ios:6ee8ea5b37b5fddae0c646</string>
</dict>
</plist>